<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ural delivery management system">
    <meta name="author" content="asif r. porosh">
    <title>{% block title %}{% endblock %} - UralDMS {{config.SOFTWARE_VERSION}}</title>
    {{ bootstrap.load_css() }}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<!--    <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">-->
<!--    <link href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap4.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.2/b-2.0.0/b-html5-2.0.0/b-print-2.0.0/datatables.min.css"/>

    {% block styles %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Ural DMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>

                {% if current_user.is_authenticated %}
                    {% if current_user.role|string() in ['Role.MERCHANT_OWNER', 'Role.MERCHANT_USER'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile.view_profile') }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('order.view_order') }}">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('order.add_order') }}">New Order</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile.view_profile') }}">Adm Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('order.view_order') }}">Adm Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('order.add_order') }}">Adm New Order</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>


<main role="main" class="flex-shrink-0">
<div class="container-fluid">{% block body %}{% endblock %}</div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy;&nbsp;2021&nbsp;uira.io</span>
        {% if current_user.is_authenticated %}
        <span class="text-muted float-right">Logged in: {{current_user.email}} | {{current_user.role|string()}}</span>
        {% endif %}
    </div>
</footer>


{{ bootstrap.load_js() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.2/b-2.0.0/b-html5-2.0.0/b-print-2.0.0/datatables.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
